<?xml version="1.0" encoding="UTF-8" standalone="no"?><Configuracao><Conexao Localhost="/home/indigovox" Repositorio="http://themanaworld-br.googlecode.com/svn" Senha="" Usuario="" Versao="0.2"/><Execucao Comando="mana" Conta="" Personagem="" SemOpenGL="true" Senha="" Servidor="localhost" TMWData="/home/indigovox/tmwdata"/><Documentacao Alteracoes="http://code.google.com/p/tmw-maker/source/list" Comentarios="http://code.google.com/p/tmw-maker/issues/entry" Componentes="http://code.google.com/p/tmw-maker/wiki/" Traducoes=""/></Configuracao>