<?xml version="1.0" encoding="UTF-8" standalone="no"?><Configuracao><Conexao Localhost="/home/indigovox/tmw-br" Repositorio="http://themanaworld-br.googlecode.com/svn/trunk" Senha="" Usuario="" Versao="0.2"/><Execucao Comando="mana" Conta="Lunovox" Personagem="Lunovox" SemOpenGL="true" Senha="14789653" Servidor="localhost" TMWData="/home/indigovox/tmw-br/tmwdata"/><Documentacao Alteracoes="http://code.google.com/p/tmw-maker/source/list" Comentarios="http://code.google.com/p/tmw-maker/issues/entry" Componentes="http://code.google.com/p/tmw-maker/wiki/" Traducoes=""/></Configuracao>